<%- include ('./partials/header') %>
<div class="container">
    <h1>New Movie</h1>
    <form action="/videos" method="POST">
        <div class="form-group">
            <input type="text" name="title" class="form-control">
        </div>
        <div class="form-group">
            <input type="text" name="genre" class="form-control">
        </div>
        <div class="form-group">
            <input type="text" name="image" class="form-control">
        </div>
        <div class="form-group">
            <textarea name="desc" class="form-control"></textarea>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-info">Save</button>
        </div>
    </form>
    <a href="/">Cancel</a>
</div>

<%- include ('./partials/footer') %>
